<div class="container container-center">
  <mat-form-field class="search-box">
    <mat-label>Search Food</mat-label>
    <input matInput id="search" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" />
  </mat-form-field>
</div>
<mat-selection-list class="selection-list search-box align-items-center px-5 py-0 mx-5" (selectionChange)="onSelectionChange($event)" [multiple]="true" *ngIf="searchTerm.length > 0">
  <mat-list-option *ngFor="let food of filteredFoods" [value]="food">
    <span class="food-name">{{ food.name }} </span>
  </mat-list-option>
</mat-selection-list>

<table mat-table [dataSource]="selectedFoods" class="custom-table px-5 py-0 mx-5 my-0" style="background-color: #E5D9F2" *ngIf="selectedFoods.length > 0">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Aliment </th>
    <td mat-cell *matCellDef="let food">{{ food.name }}</td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight (g) </th>
    <td mat-cell *matCellDef="let food">
      <mat-form-field class="weight-input">
        <input matInput type="number" [(ngModel)]="food.weight" (change)="onWeightChange(food)" />
      </mat-form-field>
    </td>
    <td mat-footer-cell *matFooterCellDef> {{ getTotal('weight') }} </td>
  </ng-container>

  <ng-container matColumnDef="calories">
    <th mat-header-cell *matHeaderCellDef> Calories </th>
    <td mat-cell *matCellDef="let food"> {{ food.calories }} </td>
    <td mat-footer-cell *matFooterCellDef> {{ getTotal('calories') }} </td>
  </ng-container>

  <ng-container matColumnDef="proteins">
    <th mat-header-cell *matHeaderCellDef> Proteins </th>
    <td mat-cell *matCellDef="let food"> {{ food.proteins }} </td>
    <td mat-footer-cell *matFooterCellDef> {{ getTotal('proteins') }} </td>
  </ng-container>

  <ng-container matColumnDef="carbohydrates">
    <th mat-header-cell *matHeaderCellDef> Carbs </th>
    <td mat-cell *matCellDef="let food"> {{ food.carbohydrates }} </td>
    <td mat-footer-cell *matFooterCellDef> {{ getTotal('carbohydrates') }} </td>
  </ng-container>

  <ng-container matColumnDef="fats">
    <th mat-header-cell *matHeaderCellDef> Fats </th>
    <td mat-cell *matCellDef="let food"> {{ food.fats }} </td>
    <td mat-footer-cell *matFooterCellDef> {{ getTotal('fats') }} </td>
  </ng-container>

  <ng-container matColumnDef="fiber">
    <th mat-header-cell *matHeaderCellDef> Fibers </th>
    <td mat-cell *matCellDef="let food"> {{ food.fiber }} </td>
    <td mat-footer-cell *matFooterCellDef> {{ getTotal('fiber') }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let food">
      <button mat-button (click)="removeFoodFromTable(food)">Remove</button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
