<div class="container-fluid color-bg py-3 px-5 m-0 w-100 border border-bottom-1">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md-8 d-flex">
      <img src="../../assets/logo.png" class="img-fluid"  routerLink="/''" style="max-width: 150px; height: auto;" alt="logo">
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-end gap-2">
      <button class="p-2 d-flex align-items-center justify-content-center button-bg button-border" routerLink="/calories-calculator">
        <img src="../../assets/Icons/button-weight.svg" class="icon"  alt="icon-weight"> NCT Calculator
      </button>
      <button class="p-2 d-flex align-items-center justify-content-center  button-bg button-border" routerLink="/food-calculator">
        <img src="../../assets/Icons/button-food.svg"  class="icon" alt="icon-food"> Food calculator
      </button>
      <button class="p-2 d-flex align-items-center justify-content-center  button-bg button-border" routerLink="/add-food">
        <img src="../../assets/Icons/button-add.svg" class="icon" alt="icon-add"> Add food
      </button>
    </div>
  </div>
</div>
